@using CapaEntidad.GestionInterno
@model IEnumerable<Ent_Comunicado>
@{
    ViewBag.Title = "Consulta de Comunicados";
    AjaxOptions options = new AjaxOptions
    {
        HttpMethod = "GET",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "listaCom",
        OnComplete = "waitingDialog.hide();",
        OnBegin = "waitingDialog.show('Espere un momento por favor');",
        OnFailure = "waitingDialog.hide();"
    };
}
@*<link href="~/Content/bootstrap-select.css" rel="stylesheet" />*@
@*<link href="~/ContentSelect/bootstrap-select.css" rel="stylesheet" />*@

<style>
    .content-center-text{
        text-align: center;
    }
    .pad-url{        
    padding-top: 2px;
    padding-bottom: 3px;
    }
</style>

<link href="@Url.Content("~/Content/bootstrap-select.min.css")" rel="stylesheet" type="text/css" />

<p class="text-danger">Consulta de comunicado para tienda</p>
<div class="box box-body box-primary">
        @using (Ajax.BeginForm("_comTable", options))
        {
           
               
                    <div class="row">
                        <div class="col-sm-3">
                            <label for="tda">Tienda</label>
                            <div class="form-group" id="divtda">
                                @*<div class="input-group">*@
                                <div id="tda" class="form-group">
                                    @Html.DropDownList("dwtda", new SelectList(ViewBag.Tienda, "cbo_codigo", "cbo_descripcion", "-1"), new { @class = "selectpicker", @data_live_search = "true", @id = "dwtda", @name = "dwtda" })
                                </div>
                                @*</div>*@
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <label> </label><br />
                            <button id="btnSearch" type="submit" title="Consultar" class="btn btn-primary">
                                <span class="glyphicon glyphicon-search"> Buscar</span>
                            </button>
                        </div>                                               
                    </div>                              
                }
                <div class="row">
                    <div class="col-md-12">
                        <h4>Resultados:</h4>
                        <div class="col-sm-12 checkbox text-info" id="">
                            <label>
                                <input type="checkbox" name="noLeidos" id="noLeidos" /> Mostrar no leidos.
                            </label>
                        </div>
                    </div>                    
                </div>
                <div class="box-body" id="listaCom" style="overflow-x: auto;">
                    
                    @{Html.RenderPartial("_comTable", Model);}
                </div>
                <br />


</div>
<script src="~/Scripts/bootstrap-select.min.js"></script>
<script src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>

<script>
    var gSite = ''
    var gVisible = 'F'
    var gVisibleS = 'F'
    $(document).ready(function () {
        $("body").toggleClass('sidebar-collapse');
        var pathname = window.location.pathname;
        var res = pathname.split("/")

        if (res[1].toString() != "ComunicadoTDA") {
            gSite = "/" + res[1].toString();
        }
        //if ($("#NombreUsuario").val() == 'Invitado')
        //    setInterval('ContinuarConexion()', 5000);
    });
</script>

@*<script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/ScriptsSelect/bootstrap-select.js"></script>*@
<script>
    //$(document).ready(function () {

    //    $('#dwtda').on('keyup change', function () {
    //        selectedValue = $(this).val();

    //        $.each($('#btnSearch'), function () {
    //            $(this).val(selectedValue);
    //        })
    //    });

    //    //MostrarListado()
    //});

    @*function MostrarListado() {

        var TeamDetailPostBackURL = "@Url.Action("_guiaTable", "Consulta")";

        var options = { "backdrop": "static", keyboard: true };
        $.ajax({
            type: "GET",
            url: TeamDetailPostBackURL,
            contentType: "application/json; charset=utf-8",
            data: {},
            datatype: "json",
            cache: true,
            success: function (data) {
                document.getElementById("listaGuia").innerHTML = data;

            },
            error: function () {

            }
        });

    }*@

</script>

@*<script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/bootstrap-select.js"></script>*@

