
@{
    ViewBag.Title = "Corte de inventario";
}
<link href="~/ContentSelect/bootstrap-select.css" rel="stylesheet" />


<style>
    #dwcliente {
        width: 200px;
    }

    .imgRedonda {
        width: 150px;
        height: 120px;
        border-radius: 15px;
    }

    #divImagen {
        width: 100%;
        height: 100%;
    }

    #lugar {
        border-radius: 10px 10px 10px 10px;
        -moz-border-radius: 10px 10px 10px 10px;
        -webkit-border-radius: 10px 10px 10px 10px;
        border: 2px;
    }
</style>
<p class="text-danger">Inicio del corte de inventario.</p>
<div class="box box-body box-primary">
 
@using (Ajax.BeginForm("Edit", new AjaxOptions { OnBegin = "ConfirmarCorteInventario();" }))
{
        <div class="row">
           
                <div class="form-group col-md-1">
                    <label for="txtCliente">Tienda</label>
                </div>
               <div class="form-group col-md-3">
                     @Html.DropDownList("cboTda", new SelectList(ViewBag.ListTienda, "cbo_codigo", "cbo_descripcion", "0"), new { @class = "selectpicker", @data_live_search = "true", @id = "cboTda", @name = "cboTda" })
               </div>
            <div class="form-group col-md-1">
                <label for="txtCliente">Obs.:</label>
            </div>
            <div class="form-group col-md-4">
                <textarea class="form-control" name="txtObservacion" id="txtObservacion" cols="40" rows="2"></textarea>
            </div>
            <div class="form-group col-md-2">

                <button type="button" class="btn btn-primary" onclick="javascript: ConfirmarCorteInventario()">
                    <span class="glyphicon glyphicon-triangle-right"></span>&nbsp;Iniciar Corte Inventario
                </button>
            </div>
            
        </div>

}      
</div>
<div><input id="NombreTienda" type="hidden" value="@ViewBag.CodTienda" /></div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" ng-app>
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='myModalContent'></div>
        </div>
    </div>
</div>

<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/ScriptsSelect/bootstrap-select.js"></script>
<script src="~/Scripts/BI.js"></script>
<script>
    
  
    $(document).ready(function () {

        if ($("#NombreTienda").val() != '') {
            setearComboSelectpicker('cboTda', $("#NombreTienda").val(), 1)
        }

    });

    function setearComboSelectpicker(nameControl, valor, bloqueo) {
      

        $('select[name=' + nameControl + ']').val(valor);
        $('select[name=' + nameControl + ']').change();
        //$('select[name=' + nameControl + ']').disabled = true;
        $('#cboTda').selectpicker({ disabled: true, maxOptions: 1 })
  
    }

    function disableOptionDropdown(name) {
        var selectobject;
        
        selectobject = document.getElementById(name).getElementsByTagName("option");
        selectobject[3].disabled = true;
        $('#' + name).selectpicker('render');
    }

    function ConfirmarCorteInventario() {
        var tienda = $("#cboTda").val();
        var strhtml = ''
        strhtml += '<div class="modal-header modal-header-danger" style="margin-top:0px;margin-bottom:0px;padding-top:2px;padding-bottom:2px;">'
        strhtml += '<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>'
        strhtml += '<h5 class="modal-title" id="myModalLabel">'
        strhtml += '<table style="border-bottom:0px;font-size:14px;width:50%;">'
        strhtml += '<tr>'
        strhtml += '<td style="font-size:14px;width:100%;text-align:left;">Confirmación de Inicio de Inventario</td>'
        strhtml += '</tr>'
        strhtml += '</table>'
        strhtml += '</h5>'
        strhtml += '</div>'
        strhtml += '<div class="modal-body">'       
        strhtml += ' Desea Iniciar el corte de inventario para la tienda : ' + tienda + ' ?.'
        strhtml += '</div>'
        strhtml += '<div class="modal-footer" style="margin-top:-30px">'
        strhtml += '<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>'
        strhtml += '<button type="button" class="btn btn-primary"  onclick="IniciarCorte()"   data-dismiss="modal">Iniciar corte</button>'
        //strhtml += ' <button type="button"  title="Eliminar class="btn btn-danger" data-dismiss="modal" detalle" onclick="EliminarDetalle(this)"  data-id="' + codArticulo + '" data-modal="" data-toggle="modal">Elimninar</button>';
        //strhtml += '<input type="submit" class="btn btn-primary" onclick="agregarLista()"  id="btnSubmit" value="Agregar" />'
        strhtml += '</div>'
        var options = { "backdrop": "static", keyboard: true };

        $('#myModalContent').html(strhtml);
        $('#myModal').modal(options);
        $('#myModal').modal('show');

    }

    function IniciarCorte() {
        waitingDialog.show('Generando corte de inventario..');
        var tienda = $("#cboTda").val();
        var observacion = $("#txtObservacion").val();

        $.ajax
          ({
              url: '../Inventario/GenerarCorteInventario',
              dataType: "json",
              type: "POST",
              data: { codTda: tienda, descripcion: observacion },
              success: function (data, textStatus, XMLHttpRequest) {
                  waitingDialog.hide();

                  if ((data.Success).toString() == "true") {

                      toastr.success("Se genero el corte de inventario numero : " + data.Message + ".", "Mensaje");

                      if (gEstado == "1") {
                          toastr.success("Se liquidó el pedido con éxito. Nro: " + data.Message + ".", "Mensaje");
                          limpiarCampos();
                      }

                  } else {
                      toastr.error("Se al liquidar el pedido.", "Error");
                  }
              },
              error: function (xhr) {
                  waitingDialog.hide();
                  toastr.error(xhr, 'Error');
              }
          })

    }

    function limpiarCampos() {
         $("#txtObservacion").val('');
    }






</script>

