@{
    Layout = null;
}
<table id="tabPromtipo" class="table dataTable table-hover table-striped table-responsive">
    <thead>
        <tr style="background-color:#3d566e; color:#ecf0f1">
            <th>ARTICULO</th>
            <th>CALIDAD</th>
            <th>LINEA</th>
            <th>CATEGORIA</th>
            @*<th>TALLA</th>
            <th>CANTIDAD</th>*@
            <th width="50%;">
                <div class="col-sm-1" style="width:100%;text-align:center;margin-top:2px;margin-bottom:2px;">                    
                    <label for="disponible">TALLA/CANTIDAD</label>                   
                </div>

            </th>
        </tr>
    </thead>
    <tbody data-bind="foreach:"></tbody>
    <tfoot>
        <tr>
            <th>ARTICULO</th>
            <th>CALIDAD</th>
            <th>LINEA</th>
            <th>CATEGORIA</th>
            @*<th>TALLA</th>
            <th>CANTIDAD</th>*@
            <th width="50%;">
                <div class="col-sm-1" style="width:100%;text-align:center;margin-top:2px;margin-bottom:2px;">
                    <label for="disponible">TALLA/CANTIDAD</label>
                </div>
            </th>
        </tr>
    </tfoot>
</table>
