
@using CapaEntidad.Util;
@{
    ViewBag.Title = "Reporte Inventario Planilla";
    AjaxOptions options = new AjaxOptions
    {
        HttpMethod = "GET",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "lista",
        OnComplete = "waitingDialog.hide();",
        OnBegin = "waitingDialog.show('Espere un momento por favor');",
        OnFailure = "waitingDialog.hide();"
    };

}

<link href="~/ContentSelect/bootstrap-select.css" rel="stylesheet" />
<link href="@Url.Content("~/Content/bootstrap-select.min.css")" rel="stylesheet" type="text/css" />

<style>
    iframe {
        border: none;
        padding: 0;
        margin: 0;
        width: 100%;
        height: 800px;
    }
</style>

<div class="col-sm-3">
    <div class="form-group">
        <label for="tipo">Tiendas</label>
        @Html.DropDownList("tda", new SelectList(ViewBag.tienda, "cbo_codigo", "cbo_descripcion", null), new { @class = "form-control selectpicker", @data_live_search = "true", @id = "tda", @name = "dwtda", @data_actions_box = "true" })
    </div>
</div>


<div class="col-sm-2">
    <label for="fecini">Fecha</label>
    <div class="form-group">
        <div id="datepickerfin" class="input-group date" data-date-format="dd-mm-yyyy">
            <input id="fecini" name="fecini" value="" class="form-control" placeholder="dd-mm-yyyy" type="text" />
            <span class="input-group-addon  bg-white"><img src="~/Content/images/wall-calendar-with-lines.svg" height="20" width="20"></span>
        </div>
    </div>
</div>

<div class="col-sm-2">
    <label for="fecfin"></label>
    <div class="form-group">
        <div id="tipodoc" class="form-group">
            <button type="button" class="btn btn-primary" onclick="javascript: MostrarReporte()">
                <span class="glyphicon glyphicon-th-list"></span>&nbsp;Ver Reporte
            </button>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div id="ifrReporte" class="well" style="width: 100%; height: 800px;">
            <iframe id="load" src="" frameborder="0" marginheight="1"
                    marginwidth="1" scrolling="auto" onload="javascript: waitingDialog.hide();"></iframe>
        </div>

    </div>
</div>

<script src="~/Scripts/bootstrap-select.min.js"></script>
<script src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>
<script src="~/Scripts/BI.js"></script>

<script type="text/javascript">
    $(function () {
        $("#datepickerini").datepicker({
            autoclose: true,
            todayHighlight: true
        }).datepicker("setDate", "0");;
    });
    $(function () {
        $("#datepickerfin").datepicker({
            autoclose: true,
            todayHighlight: true
        }).datepicker("setDate", "0");;
    });
</script>

<script>


    function MostrarReporte(e) {

        //var codTda = $("#codTda").val();
        var fecIni = ($("#fecini").val());
        var tda = $("#tda").val();


        //alert(tda);
        //alert(fecIni);

        var TeamDetailPostBackURL = "@Url.Action("ShowGenericReportInventarioPlanillaInNewWin", "Inventario")";

        waitingDialog.show('Espere un momento por favor');
        $.ajax({

            url: TeamDetailPostBackURL,
            dataType: 'json',
            type: 'POST',

            data: { tda: tda, fecIni: fecIni },

            success: function (data) {
                //alert('ok');
                if (data.estado == "1") {
                    $('#load').show();
                    $("#load").attr("src", "../AspNetForms/InventarioPlanilla.aspx")

                }
                else {
                    if (data.estado == "-1") {
                        $('#load').hide();
                        waitingDialog.hide();
                        toastr.error('No hay datos para mostrar', "Alerta");
                    }
                    else {
                        $('#load').hide();
                        waitingDialog.hide();
                        toastr.error('Hubo un error en el reporte', "Alerta");
                    }
                }

                return false;

            },
            error: function (request, status, error) {
                waitingDialog.hide();
            }
        }).done(function () {

        });
    }


</script>



