<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.5.1/css/buttons.dataTables.min.css" />

<style type="text/css">
    .dt-buttons {
        display: none;
    }
</style>
<table id="example" class="table table-hover dataTable  table-striped table-responsive">
    <thead>
        <tr style="background-color:#3d566e; color:#ecf0f1">
            <th style="width:12%">Cl. Institucional</th>
            <th style="width:10%">Código</th>
            <th style="width:8%">Número</th>
            <th style="width:5%">Soles</th>
            <th style="width:8%">Estado</th>

            <th style="width:10%">Cod-Tienda</th>
            <th style="width:15%">Des-Tienda</th>
       
            <th style="width:10%">Documento</th>

            <th style="width:7%">Fec. doc.</th>

            <th style="width:8%">Dni</th>
            <th style="width:22%">Cliente </th>
   
        </tr>
    </thead>
    <tbody data-bind="foreach:">
       
    </tbody>
    <tfoot>
        <tr>
            <th style="width:10%">Cl. Institucional</th>
            <th style="width:auto">Código</th>
            <th style="width:auto">Número</th>
            <th style="width:auto">Monto</th>
            <th style="width:auto">Estado</th>

            <th style="width:auto">Cod-Tienda</th>
            <th style="width:auto">Des-Tienda</th>
            <th style="width:auto">Documento</th>
            <th style="width:auto">Fec. doc.</th>

            <th style="width:auto">Dni</th>
            <th style="width:auto">Cliente</th>
  
        </tr>
    </tfoot>
</table>
<script src='https://cdn.datatables.net/buttons/1.5.1/js/dataTables.buttons.min.js'></script>
<script src='//cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js'></script>
<script src='//cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js'></script>
<script src='//cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/vfs_fonts.js'></script>
<script src='//cdn.datatables.net/buttons/1.5.1/js/buttons.html5.min.js'></script>


<script>
    $(document).ready(function () {
        $('.table').dataTable({
            "language": {
                "url": "../Scripts/DataTables/Spanish.json"
            },
            "bServerSide": true,
            "bAutoWidth": false,
            "sAjaxSource": '@Url.Action("getValeCompra", "ReportsValeCompra")',
            "bdestroy": true,
            "start": 0,
            "order": [0, "asc"],
            "bDeferRender": true,
            "aoColumns": [
                 { "sName": "Institucion", "mData": "Institucion" },
                   { "sName": "Codigo", "mData": "Codigo" },
                   { "sName": "Numero", "mData": "Numero" },
                   { "sName": "soles", "mData": "soles" },
                   { "sName": "Estado", "mData": "Estado" },
                   { "sName": "Codigo_tda", "mData": "Codigo_tda" },
                   { "sName": "Desc_tda", "mData": "Desc_tda" },
                   { "sName": "Documento", "mData": "Documento", "sClass": "center" },

                   { "sName": "Fecha_doc", "mData": "Fecha_doc", "sClass": "right" },
                   { "sName": "DNI", "mData": "DNI" },

                   { "sName": "Cliente", "mData": "Cliente" }

            ],
             dom: 'Bfrtip',
             buttons: [
            {
                extend: 'excelHtml5',
                title: 'Bataclub_xls'
            },
            {
                extend: 'csvHtml5',
                title: 'BataClub_csv'
            },
            {
                extend: 'pdfHtml5',
                title: 'BataClub_pdf'
            },
            'copyHtml5',
             ]
        });

        $('#txtDisponible').val('0.00');
        $('#txtconsumido').val('0.00');

        $('#txtDisponible').val(@ViewBag.TotalDisponible);
        $('#txtconsumido').val(@ViewBag.TotalConsumido);


    });



</script>