
@using Microsoft.Reporting.WebForms;
@using ReportViewerForMvc;
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    @if (ViewBag.ReportViewer != null)
    {
        <div id="divRep" style="width: 100%; height: 100%;">@Html.ReportViewer(ViewBag.ReportViewer as ReportViewer)</div>
    }
</body>
</html>