

<link href="~/ContentSelect/bootstrap-select.css" rel="stylesheet" />


<style>

#dwcliente{
 width:200px;   
}

.imgRedonda {
    width:150px;
    height:120px;
    border-radius:15px;
}

#divImagen {
    width: 100%;
    height: 100%;
}
#lugar {
 border-radius: 10px 10px 10px 10px;-moz-border-radius: 10px 10px 10px 10px;-webkit-border-radius: 10px 10px 10px 10px;border: 2px
}


</style>
<p class="text-danger"></p>
<div class="box box-body box-primary">
 <form id="form1">
         
     <div class="row" style="margin-top:10px">

         <div class="col-sm-1">
             <label for="disponible">Articulo</label>
         </div>
         <div class="col-sm-2">
             <input id="txtArticulo" type="text"  placeholder="codigo" style="width :100%;" autofocus class="form-control" />
         </div>
         <div class="col-sm-1">
             <label for="disponible">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Talla</label>
            
         </div>
         <div class="col-sm-2">
             <input id="txtTalla" type="text" placeholder="Talla" maxlength="4" style="padding-left:6px;padding-right:6px;width :100%;" autofocus class="form-control" />
         </div>
         <div class="col-sm-1">
             <button type="button" onclick="ValidarMostrarArticulo()" title="Consultar" class="btn btn-primary">
                 <span class="glyphicon glyphicon-search"></span>
             </button>
         </div>
         <div class="col-sm-2">
           
         </div>
         <div class="col-sm-1">
            
         </div>
         <div class="col-sm-1">
           
         </div>
         <div class="col-sm-1">
            
         </div>


     </div> <br/>
</form>
    <table id="example" class="table table-hover dataTable  table-striped table-responsive">

        <tbody>
            <tr>
                <td  style="background:#FFFFFF;width:30%;text-align:center;vertical-align:middle;border: 1px solid;border-color:gainsboro">
                    <div id="DivNombre"><h3>Buscando</h3></div>
                    @*<img id="imagenCatalogo" class="imgRedonda" src="https://d13xymm0hzzbsd.cloudfront.net/2/20140210/13920663947653.jpg" width="150" height="120">*@
                    <img id="imagenCatalogo" class="imgRedonda" src="~/Content/images/lupa.jpg" width="150" height="120" />
                </td>
                <td>               
                    <div id="listTienda" style="overflow-x: hidden; overflow-y:auto; height: 378px;">                        
                       
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
 
<div><input id="NombreUsuario" type="hidden" value="@ViewBag.Usuario"/></div>
</div>

<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/ScriptsSelect/bootstrap-select.js"></script>
<script src="~/Scripts/BI.js"></script>
<script>
    var gSite = ''
   
    $(document).ready(function () {
        $("body").toggleClass('sidebar-collapse');
        var pathname = window.location.pathname;
        var res = pathname.split("/")
    
        if (res[1].toString() != "ArticuloSustituto") {
          gSite = "/" + res[1].toString();
        }
        //if ($("#NombreUsuario").val() == 'Invitado')
        //    setInterval('ContinuarConexion()', 5000);
    });   


    function ValidarMostrarArticulo() {
     
        var codArticulo = $('#txtArticulo').val();
        codArticulo = codArticulo.replace(/^\s+|\s+$/g, "")     

        if (codArticulo != '')
            MostrarArticulo();
        else
            toastr.error("Debe ingresar un código de articulo.", "Mensaje");

    }



    function MostrarArticulo() {

       
        waitingDialog.show('Espere un momento por favor');
        document.getElementById('listTienda').innerHTML = '';

        var codArticulo = $('#txtArticulo').val();
        var codtalla = $('#txtTalla').val();

        codArticulo = codArticulo.replace(/^\s+|\s+$/g, "")
        codtalla = codtalla.replace(/^\s+|\s+$/g, "")

        var ControllerUrl = "@Url.Action("listarStr_ArticuloSustituto", "ArticuloSustituto")";
        var css = 'class="row"'
        //css = '';
        var border2 = 'padding: 5px 5px 5px 5px;border:2px'
        //border2 =''
        var espacio = '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;'
        var ConstHtmlTienda = '<br/><div id="lugar" style="background:#FFFFFF;' + border2 + '" ><div ' + css + '  style="background:#FFFFFF;" ><div class="col-sm-12"><div><h4><strong>VariableTienda</strong></h4><p><i class="fa fa-map-marker"></i>&nbsp;&nbsp;DireccionTienda</p></div><table><tr><td rowspan="5">VariableImagen</td><td>' + espacio + '</td><td><div style="margin-top:2px;margin-right:2px;"><button class="btn btn-white btn-xs" style="width:100%;">Tallas:</button></div></td>ListvariableTalla</tr><tr><td>' + espacio + '</td><td><div style="margin-top:2px;margin-right:2px;"><button class="btn btn-white btn-xs" style="width:100%;">Cantidad:</button></div></td>ListvariableCantidad</tr><tr></tr><tr></tr><tr></tr></table></div><br/></div></div>';
        var ConstTalla = '<td><div style="margin-top:2px;margin-right:2px;"><button class="btn btn-white btn-xs" style="width:100%;">variableTalla</button></div></td>'
        var ConstCantidad = '<td><div style="margin-top:2px;margin-right:2px;"><button class="btn btn-white btn-xs" style="width:100%;">variableCantidad</button></div></td>'
        var listTalla = '';
        var listCantidad = '';
        var divFinal = '';
        var strUrlImagen = '';
        var options = { "backdrop": "static", keyboard: true };
        $.ajax({
            type: "GET",
            url: ControllerUrl,
            contentType: "application/json; charset=utf-8",
            data: { codArticulo: codArticulo, codTalla: codtalla },
            datatype: "json",
            cache: true,
            success: function (data) {
                
                var codTienda = ''
                var consTienda = ''
               
                if (data != '' && data != '[]') {
                    var valors = JSON.parse(data);
                    var nombreTienda = '';
                    var urlImagenSusti = '';
                    var DireccionTienda = '';
                    var talla = '';
                    var cantidad = '';
                    var NombreArticulo = '';
               
                    $.each(valors, function (index, item) {
                        codTienda = item.Codigo_Susti;
                        NombreArticulo = item.Descripcion;
                        strUrlImagen = item.Url_Imagen
                      
                        if (codTienda != consTienda) {
                       
                       
                            if (consTienda != '') {
                                var strhtml = ConstHtmlTienda;
                                var strImagen = ' <img id="imagenCatalogo" class="imgRedonda" src="' + urlImagenSusti + '" width="150" height="120" />'
                                strhtml = strhtml.replace("VariableImagen", strImagen);
                                strhtml = strhtml.replace("VariableTienda", nombreTienda);
                                strhtml = strhtml.replace("DireccionTienda", DireccionTienda);
                                strhtml = strhtml.replace("ListvariableTalla", listTalla);
                                strhtml = strhtml.replace("ListvariableCantidad", listCantidad);
                                divFinal += strhtml;
                                listTalla = '';
                                listCantidad = '';
                            }
                            consTienda = codTienda;
                        }

                        urlImagenSusti = item.Url_Imagen_susti
                        nombreTienda = item.Nombre_Susti;
                        DireccionTienda = item.Direccion_Susti;
                        talla = item.Talla;
                        cantidad = (item.Cantidad).toString();

                        listTalla += ConstTalla;
                        listTalla = listTalla.replace("variableTalla", talla);


                        listCantidad += ConstCantidad;
                        listCantidad = listCantidad.replace("variableCantidad", cantidad);

                                    
                    });
                 
                    if (codTienda != '') {
                        var strImagen = ' <img id="imagenCatalogo" class="imgRedonda" src="' + urlImagenSusti + '" width="150" height="120" />'
                        ConstHtmlTienda = ConstHtmlTienda.replace("VariableImagen", strImagen);
                        ConstHtmlTienda = ConstHtmlTienda.replace("VariableTienda", nombreTienda);
                        ConstHtmlTienda = ConstHtmlTienda.replace("DireccionTienda", DireccionTienda);
                        ConstHtmlTienda = ConstHtmlTienda.replace("ListvariableTalla", listTalla);
                        ConstHtmlTienda = ConstHtmlTienda.replace("ListvariableCantidad", listCantidad);
                        divFinal += ConstHtmlTienda;
                        document.getElementById('imagenCatalogo').src = strUrlImagen;
                        document.getElementById("listTienda").innerHTML = divFinal;
                        document.getElementById("DivNombre").innerHTML = '<h3>' + NombreArticulo + '</h3>';
                    }
                
                } else {
                   
                    ConstHtmlTienda = ConstHtmlTienda.replace("VariableTienda",'No se encontraron sustitutos.');
                    ConstHtmlTienda = ConstHtmlTienda.replace("DireccionTienda", '');
                    ConstHtmlTienda = ConstHtmlTienda.replace("ListvariableTalla", '');
                    ConstHtmlTienda = ConstHtmlTienda.replace("ListvariableCantidad", '');
                    ConstHtmlTienda = ConstHtmlTienda.replace("ListvariableCantidad", '');
                    ConstHtmlTienda = ConstHtmlTienda.replace("VariableImagen", '');
                    ConstHtmlTienda = ConstHtmlTienda.replace('<i class="fa fa-map-marker"></i>', '');
                    ConstHtmlTienda = ConstHtmlTienda.replace('<button class="btn btn-white btn-xs" style="width:100%;">Tallas:</button>', '');
                    ConstHtmlTienda = ConstHtmlTienda.replace('<button class="btn btn-white btn-xs" style="width:100%;">Cantidad:</button>', '');
                    divFinal += ConstHtmlTienda;
                    document.getElementById('imagenCatalogo').src = gSite + '/Content/images/lupa.jpg';
                    document.getElementById("listTienda").innerHTML = divFinal;
                    document.getElementById("DivNombre").innerHTML = '<h3>Buscando</h3>';
                }
                waitingDialog.hide();
                
            },
            error: function () {
                waitingDialog.hide();
                alert('Error')
            }

        });

    }

    function ContinuarConexion() {

        if (Modernizr.webworkers) {
            var worker = new Worker('/scripts/LogStats.js');
            worker.onmessage = function (event) {
                //alert(event.data);              
            };
            worker.onerror = function (event) {
                alert(event.message, event);
            };
        } else {
            alert("Sorry!! you do not have web workers support.");
        }

    }
   


</script>

