<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.5.1/css/buttons.dataTables.min.css" />

<style type="text/css">
    .dt-buttons {
        display: none;
    }
</style>
@*<a href="#" class="btn btn-success btn-sm">
    <span class="glyphicon glyphicon-download-alt"></span>
</a>*@
@*<div> <a href="" onclick="get_url()" class="icon-link icon-primary icon-large" target="_blank"><i class="glyphicon glyphicon-trash"></i></a></div>*@
@*<button title="Descargar Archivo" class="btn btn-primary"><span class="glyphicon glyphicon-download-alt"></span></button>*@
<table id="example" class="table table-hover dataTable  table-striped table-responsive">    
    <thead>
        <tr style="background-color:#3d566e; color:#ecf0f1">
            <th>TipoDoc</th>
            <th>NumDoc</th>
            <th>FechaDoc</th>
            <th>T.cant</th>
            <th>SubTotal</th>
            <th>Igv</th>
            <th>Total</th>            
            @*<th>FE</th>*@   
            <th>PDF</th> 
            @*<th style="display:none"></th>            
            <th style="display:none"></th>            
            <th style="display:none"></th>            
            <th style="display:none"></th>            
            <th style="display:none"></th>*@            
        </tr>
    </thead>
    <tbody data-bind="foreach:"></tbody>
    <tfoot>
        <tr>
            <th>TipoDoc</th>
            <th>NumDoc</th>
            <th>FechaDoc</th>
            <th>T.cant</th>
            <th>SubTotal</th>
            <th>Igv</th>
            <th>Total</th>            
            @*<th>FE</th>*@   
            <th>PDF</th> 
            @*<th style="display:none"></th>            
            <th style="display:none"></th>            
            <th style="display:none"></th>            
            <th style="display:none"></th>            
            <th style="display:none"></th>*@            
           
        </tr>
    </tfoot>
</table>
<script src='https://cdn.datatables.net/buttons/1.5.1/js/dataTables.buttons.min.js'></script>
<script src='//cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js'></script>
<script src='//cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js'></script>
<script src='//cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/vfs_fonts.js'></script>
<script src='//cdn.datatables.net/buttons/1.5.1/js/buttons.html5.min.js'></script>


<script>
    $(document).ready(function () {
        $('.table').dataTable({
            "language": {
                "url": "../Scripts/DataTables/Spanish.json"
            },
            "bServerSide": true,
            "bAutoWidth": false,
            "sAjaxSource": '@Url.Action("getDocumento", "Consulta")',
            "bdestroy": true,
            "start": 0,
            "order": [0, "asc"],
            "bDeferRender": true,
            "aoColumns": [
                 { "sName": "tipo_doc", "mData": "tipo_doc" },
                   { "sName": "num_doc", "mData": "num_doc" },
                   { "sName": "fecha_doc", "mData": "fecha_doc", "sClass": "right", "type": "date-dd-mmm-yyyy" },
                   { "sName": "tcantidad", "mData": "tcantidad","sClass": "center"},
                   { "sName": "sub_total", "mData": "sub_total", "sClass": "right" },
                   { "sName": "igv", "mData": "igv", "sClass": "right" },
                   { "sName": "total", "mData": "total", "sClass": "right" },
                   //{ "sName": "FE", "mData": "FE", "sClass": "right" },
                   //{ "sName": "user_ws", "mData": "user_ws", "sClass": "right" },
                   //{ "sName": "pass_ws", "mData": "pass_ws", "sClass": "right" },
                   //{ "sName": "ruc_ws", "mData": "ruc_ws", "sClass": "right" },
                   //{ "sName": "tipodoc_ws", "mData": "tipodoc_ws", "sClass": "right" },
                   //{ "sName": "num_doc_ws", "mData": "num_doc_ws", "sClass": "right" },

                   {"render":function ( data, type, full ){
                       if (full.FE == 'S') {

                           var envio = "'" + full.user_ws + "','" + full.pass_ws + "','" + full.ruc_ws + "','" + full.tipodoc_ws + "','" + full.num_doc_ws + "'"

                           return '<div> <a onclick="get_url(' + envio + ')" target="_blank" class="btn btn-success btn-sm"> <span class="glyphicon glyphicon-download-alt"></span></a></div>';
                       } else {
                           return '<div style="display: none;"><a href=' + data + ' ><i class="fa fa-file fa-lg"></i></a></div>';
                       }
                   }
                   }



            ],
             dom: 'Bfrtip',
             buttons: [
            {
                extend: 'excelHtml5',
                title: 'Bataclub_xls'
            },
            {
                extend: 'csvHtml5',
                title: 'BataClub_csv'
            },
            {
                extend: 'pdfHtml5',
                title: 'BataClub_pdf'
            },
            'copyHtml5',
             ]
        });
    


    });


    //function get_url(user_ws, pass_ws, ruc_ws, tipodoc_ws, num_doc_ws) {

        function get_url(user_ws, pass_ws, ruc_ws, tipodoc_ws, num_doc_ws) {
            //var msg_titulo = 'Mensaje Aquarella!';
            //var id = $("#idfun").val();
            //var nombre = $("#nombre").val();
            //var padre = $('select[name=dwfuncion]').selectpicker('val');
            //var orden = $("#orden").val();
            //waitingDialog.show('Espere un momento por favor');
            $.ajax
                 ({
                     url: '../Consulta/descargar_pdf',
                     dataType: "json",
                     type: "POST",
                     data: { user_ws: user_ws, pass_ws: pass_ws, ruc_ws: ruc_ws, tipodoc_ws: tipodoc_ws, num_doc_ws: num_doc_ws },
                     success: function (data, textStatus, XMLHttpRequest) {

                         //alert(data.toString());
                         if (!data.toString().includes("no encontrado"))
                             window.open(data.toString());
                         else
                             swal("Pdf no encontrado.");

                         @*if (data.estado == '1') {

                             //$('#myModal').modal('hide');
                             //$('body').removeClass('modal-open');
                             //$('.modal-backdrop').remove();

                             $('#lista').load('@Url.Action("ListaFuncion", "Funcion")', {});
                             waitingDialog.hide();
                             toastr.success(data.desmsg, msg_titulo);
                         }
                         else {
                             waitingDialog.hide();
                             toastr.error(data.desmsg, msg_titulo);
                         }*@
                     },
                     error: function (xhr) {
                         alert(xhr);
                         //waitingDialog.hide();
                         //toastr.error(xhr, msg_titulo);
                     }
                 })

        }

    //    return '<div> <a href=/Consulta/descargar_pdf?user_ws=' + full.user_ws + '&pass_ws=' + full.pass_ws + '&ruc_ws=' + full.ruc_ws + '&tipodoc_ws=' + full.tipodoc_ws + '&num_doc_ws=' + full.num_doc_ws + ' target="_blank" class="btn btn-success btn-sm"> <span class="glyphicon glyphicon-download-alt"></span></a></div>';
    //}



</script>
@if (TempData["Success"] != null)
{
    <script>toastr.success("@TempData["Success"]");</script>
}
else if ((TempData["Error"] != null))
{
    <script>toastr.error("@TempData["Error"]");</script>
}