<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--<add name="SQL_PE" connectionString="Server=172.19.7.169;Database=BDPOS;User ID=pos_oracle;Password=Bata2018**;Trusted_Connection=False;" providerName="System.Data.SqlClient" />-->
  <add name="SQL_ECOM" connectionString="Server=192.168.2.14;Database=BD_ECOMMERCE;User ID=pos_oracle;Password=Bata2018**;Trusted_Connection=False;" providerName="System.Data.SqlClient" />

  <!--//-INICIO-SB-VTEX_ECUADOR_2021-20210416_16:34-->
  <add name="SQL_ECOM_EC" connectionString="Server=192.168.2.14;Database=BD_ECOMMERCE_EC;User ID=pos_oracle;Password=Bata2018**;Trusted_Connection=False;" providerName="System.Data.SqlClient" />
  <!--//-FIN-SB-VTEX_ECUADOR_2021-20210416_16:34-->
</configuration>