
@{
    Layout = null;
}



<div class="modal-content">
    <div class="modal-header modal-header-danger">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Creando Nuevos Vales</h4>
    </div>
    <div class="modal-body">

        <table class="table table-striped" RULES="none">
            <tr>
                <td colspan="2" valign="middle"><label for="dwcliente">Empresa Cliente</label></td>
                <td colspan="2">
                    @Html.DropDownList("dwcliente", new SelectList(ViewBag.cliente, "cli_Ruc", "cli_razonSocial", "0"), new { @class = "selectCountry form-control", @data_live_search = "true", @id = "dwcliente", @onchange = "MostrarRuc()" })
                </td>
            </tr>
            <tr>
                <td colspan="2" vertical-align="middle">
                    <label for="segape">RUC</label>
                </td>
                <td colspan="2" >
                    <input id="txtRuc" type="text" value="--" disabled autofocus class="form-control" />
                </td>
            </tr>
            <tr>
                <td colspan="2" valign="middle"><label for="nombre">Concepto</label></td>
                <td colspan="2">
                    <input type="text" id="comcepto" value="" placeholder="Ingrese el concepto" autofocus class="form-control" oninvalid="InvalidMsg(this, 'Ingrese el comcepto')" required="required" />
                </td>
            </tr>
            <tr>
                <td colspan="4" align="center" valign="middle"><label for="nombre">Fecha vigencia de vales</label></td>
            </tr>
            <tr>
                <td width="15%" vertical-align="middle">
                    <label for="segape">&nbsp;&nbsp;Inicio</label>

                </td>
                <td width="35%">
                    <div id="datepickerini"  class="input-group date" data-date-format="dd-mm-yyyy">
                        <input id="fecini"  name="fecini" value="" class="form-control custom-input" placeholder="dd-mm-yyyy" type="text" />
                        <span class="input-group-addon  bg-white"><img src="~/Content/images/wall-calendar-with-lines.svg" height="20" width="20"></span>
                    </div>
                </td>
                <td width="15%">
                    <label for="fecnac" valign="middle">&nbsp;&nbsp;Fin</label>
                </td>
                <td width="35%">
                    <div id="datepickerfin" class="input-group date" data-date-format="dd-mm-yyyy">
                        <input id="fecfin" name="fecfin" value="" class="form-control" placeholder="dd-mm-yyyy" type="text" />
                        <span class="input-group-addon  bg-white"><img src="~/Content/images/wall-calendar-with-lines.svg" height="20" width="20"></span>
                    </div>
                </td>

            </tr>
            <tr>
                <td width="45%" colspan="2" vertical-align="middle">
                    <label for="segape">&nbsp;&nbsp;Monto Total (S/.)</label>
                </td>
                <td colspan="2" width="35%">
                    <input  id="montoTotal" type="text" value="0.00" disabled  autofocus class="form-control" />
                </td>
            </tr>
        </table>
        <div class="modal-header modal-header-danger">
            <h5 class="modal-title" id="myModalLabel">Detalle de vales a Generar</h5>
        </div>
        <div style="height:180px;width: 100%; overflow-y: auto; ">
            <table border="0" id="tblvales" class="table table-striped">

                <thead>
                    <tr id="1" class="FilaDatos">
                        <td align="center"><label>Cantidad</label></td>
                        <td align="center"><label>Valor (S/.)</label></td>
                        <td vertical-align="middle" style="text-align:center;vertical-align:middle;" align="center">
                            <div id="cabeceraDetalle">
                                <a title='Agregar Detalle' onclick="javascript:AgregarVales();"><span class="glyphicon glyphicon-plus-sign" style="font-size:30px;"></span></a>
                            </div>
                        </td>

                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
    <div class="modal-footer" style="margin-top:-30px">
        <table style="width:100%">
            <tr>
                <td style="width:80%"></td>
                <td>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </td>
                <td>
                    <div id="btnGuardar">
                        <button type="button" class="btn btn-primary" onclick="javascript: Guardarvales()">
                            <span class="glyphicon glyphicon-floppy-disk"></span>&nbsp;Guardar
                        </button>
                    </div>
                </td>
                <td>
                    <div id="btnDescargar" style="display:none">
                        <button title="Descargar" onclick="javascript: DescargarArchivoNuevo()" class="btnborrar btn btn-primary" data-modal="" data-toggle="modal">
                            <span class="glyphicon glyphicon-download-alt"></span>&nbsp;Descargar
                        </button>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>
@Html.Hidden("lblIdLote", "")

<script>
    $(document).ready(function () {
        $(".tableClass tr:not(:last) > td").css('border-bottom', ' 1px solid #f4f4f4');
        $("#dwcliente").select({
        dropdownParent: $("#myModal")

        });

   
    
    AgregarVales();
    MostrarRuc()
    });

    function validarfecha() {

      
        var strMensaje = '';
     
        var valCompra_fecVigenIni = $("#fecini").val();
        var valCompra_fecVigenFin = $("#fecfin").val();

        var partsini = valCompra_fecVigenIni.split('-');
        var partsfin = valCompra_fecVigenFin.split('-');
       
        var mydateIni = new Date(partsini[2], partsini[1] - 1, partsini[0]);
        var mydateFin = new Date(partsfin[2], partsfin[1] - 1, partsfin[0]);
        var mydatehoy = new Date();

       
        if (mydatehoy > mydateIni)
            strMensaje += '* la fecha inicio debe ser mayor al actual.  <br/>'

        if (mydatehoy > mydateFin)
            strMensaje += '* fecha fin debe ser mayor al actual.  <br/>'



        if (strMensaje != '') {
            validacion = false;
            toastr.error(strMensaje, "Mensaje Aquarella !");
        }

    }
    function dibujarCombo(strId) {
        var strCbo = '';
        strCbo += '<select class="form-control" id="cboMonto_' + strId + '" name="monto" onchange="calcularTotal()">';
        strCbo += '<option value="50">50</option>';
        strCbo += '<option value="100">100</option> ';
        strCbo += '<option value="200">200</option> ';
        strCbo += '</select>'

        return strCbo
    }
    function MostrarRuc() {

        var valCliente_ruc = $('select[name=dwcliente]').selectpicker('val');
        $("#txtRuc").val(valCliente_ruc);

    }

    function AgregarVales() {

    var nId = $("#tblvales tbody > tr:last-child").data("id");

    var strDelete = '<button title="Borrar" onclicK="javaScript:EliminarVale(this)" class="btnborrar btn btn-danger" data-modal="" data-toggle="modal"><span class="glyphicon glyphicon-remove"></span></button>';
   
    if (nId == null)
        strDelete = '<button title="Disable" class="btnborrar btn btn-default" data-modal="" data-toggle="modal"><span class="glyphicon glyphicon-remove"></span></button>';

    nId++

    var strCombo = dibujarCombo(nId);

    var row = '';
    row += '<tr  height="50px" data-id="' + nId + '" class="FilaDatos">'
    row += '<td vertical-align="middle" style="text-align:center;vertical-align:middle;"  align="center"  >'
    row += '<input name ="cantidad" type="number" onBlur="javaScript:calcularTotal()" id="txtCantidad_' + nId + '" value="" placeholder="Ingrese  Cantidad" autofocus class="form-control" />'
    row += '</td>'
    row += '<td  vertical-align="middle" style="text-align:center;vertical-align:middle;"  align="center" >'
    row += strCombo
    row += '</td>'
 
    row += '<td  vertical-align="middle" style="text-align:center;vertical-align:middle;"  align="center"  >'
    row += '<div id="Detalle_' + nId + '">'
    row += strDelete
    row += '</td>'
    row += ' </tr>'

    $("#tblvales tbody").append(row)

}

function EliminarVale(Id) {

    $(Id).closest('tr').remove();
    calcularTotal()
}

</script>
<script type="text/javascript">
    function InvalidMsg(textbox, str) {

        if (textbox.value.length == 0) {
            textbox.setCustomValidity(str);
        }
        else {
            textbox.setCustomValidity('');
        }
        return true;
    }
</script>
<script type="text/javascript">
    $(function () {
        $("#datepickerini").datepicker({
            autoclose: true,
            todayHighlight: true
        }).datepicker("setDate", "0");;
    });
    $(function () {
        $("#datepickerfin").datepicker({
            autoclose: true,
            todayHighlight: true
        }).datepicker("setDate", "0");;
    });
</script>
<script type="text/javascript">

    function DescargarArchivoNuevo() {
        var IdLte = $('#lblIdLote').val();
        DescargarArchivos(IdLte)
    }
     
    function validarVale() {

        var validacion = true;
        var strMensaje = '';
        var valCliente_ruc = $('select[name=dwcliente]').selectpicker('val');
        var valCompra_descripcion = $("#comcepto").val();
        var valCompra_fecVigenIni = $("#fecini").val();
        var valCompra_fecVigenFin = $("#fecfin").val();

        if (valCliente_ruc == '')
            strMensaje = '* Debe elegir un cliente. <br/>';

        valCompra_descripcion = valCompra_descripcion.replace(/\s/g, '');

        if (valCompra_descripcion.length < 1)
            strMensaje += '* Concepto debe tener mínimo 1 caracteres. <br/>';

        if (valCompra_fecVigenIni == '')
            strMensaje += '* Debe ingresar fecha de inicio de vigencia. <br/>';

        if (valCompra_fecVigenFin == '')
            strMensaje += '* Debe ingresar fecha de fin de vigencia. <br/>';

        var partsini = valCompra_fecVigenIni.split('-');
        var partsfin = valCompra_fecVigenFin.split('-');

        var mydateIni = new Date(partsini[2], partsini[1] - 1, partsini[0]);
        var mydateFin = new Date(partsfin[2], partsfin[1] - 1, partsfin[0]);
        var mydatehoy = new Date();
        
        var AnyoHoy = mydatehoy.getFullYear();
        var MesHoy = mydatehoy.getMonth();
        var DiaHoy = mydatehoy.getDate();
     
        var fechaHoy = new Date(AnyoHoy, MesHoy, DiaHoy);
       
   
        if (mydateIni > mydateFin)
            strMensaje += '* fecha fin de vigencia debe ser mayor o igual a la fecha inicio.  <br/>'

        if (fechaHoy > mydateIni)
            strMensaje += '* la fecha inicio debe ser mayor o igual al actual.  <br/>'

        if (fechaHoy > mydateFin)
            strMensaje += '* fecha fin debe ser mayor o igual al actual.  <br/>'
       
        var strMensajeDetalle = '';

        $('input[name="cantidad"]').each(function () {

            var Id = $(this).attr("id").substr(12);
            var denominacion = $("#cboMonto_" + Id).val();
            var cantidad = $("#txtCantidad_" + Id).val();
           
            if(denominacion =='' ||denominacion ==0)
                strMensajeDetalle += '* El valor del detalle no es valido. <br/>'

            if (cantidad == '' || cantidad == 0)
                strMensajeDetalle += '* La cantidad del detalle no es valido.'
                
            if (strMensajeDetalle !='')
                 return false;

            });

            

            strMensaje += strMensajeDetalle;

            if (strMensaje != '') {
                validacion = false;
                toastr.error(strMensaje, "Mensaje Aquarella !");
            }

            return validacion

    }

    function calcularTotal() {

        var total = 0.00;
      
        $('input[name="cantidad"]').each(function () {

            
            var validarDetalle = true;
            var totalDetalle = 0.00;
            var Id = $(this).attr("id").substr(12);
            var denominacion = $("#cboMonto_" + Id).val();
            var cantidad = $("#txtCantidad_" + Id).val();

            if (denominacion == '' || denominacion == 0)
                validarDetalle = false;

            if (cantidad == '' || cantidad == 0)
                validarDetalle = false;

            if (validarDetalle)
                totalDetalle = denominacion * cantidad;
           
            total += totalDetalle;

        });
        var strtotal = parseFloat(Math.round(total * 100) / 100).toFixed(2);
        $("#montoTotal").val(strtotal);
 
    }


 function Guardarvales() {

     if (validarVale()) {

     waitingDialog.show('Espere un momento por favor');

     var msg_titulo = 'Mensaje ';
     var valCliente_ruc = $('select[name=dwcliente]').selectpicker('val');
     var valCompra_descripcion = $("#comcepto").val();
     var valCompra_fecVigenIni = $("#fecini").val();
     var valCompra_fecVigenFin = $("#fecfin").val();
     var valCompra_total = $("#montoTotal").val();
     var valCompra_strList = '';

     $('input[name="cantidad"]').each(function () {

         var Id = $(this).attr("id").substr(12);
         var denominacion = $("#cboMonto_" + Id).val();
         var cantidad = $("#txtCantidad_" + Id).val();
         valCompra_strList += 'row1 monto="' + denominacion + '" cantidad="' + cantidad + '" row2'

     });

     var frm = new FormData();
     var objGeneracionVale = {
         valCompra_ruc: valCliente_ruc,
         valCompra_total: valCompra_total,
         valCompra_descripcion: valCompra_descripcion,
         valCompra_fecVigenIni: valCompra_fecVigenIni,
         valCompra_fecVigenFin: valCompra_fecVigenFin,
         valCompra_strListDetalle: valCompra_strList
     }

     $.ajax
      ({
          url: '../ValeCompra/GuardarVale',
          dataType: "json",
          type: "POST",
          data: objGeneracionVale,
          success: function (data, textStatus, XMLHttpRequest) {
              var strId = data.Message;
              DescargarArchivos(strId)
              $("#lblIdLote").val(strId);
              //waitingDialog.hide();
              toastr.success("Se genero los vales.", msg_titulo);

              document.getElementById('btnGuardar').style.display = "none";
              document.getElementById('btnDescargar').style.display = "";

              document.getElementById('cabeceraDetalle').style.display = "none";
              $('input[name="denominacion"]').each(function () {

                  var Id = $(this).attr("id").substr(16);

                  document.getElementById('Detalle_' + Id).style.display = "none";
              });

             
                 $('body').removeClass('modal-open');
              $('#myModal').modal('hide');

              $('.modal-backdrop').remove();

              $('#lista').load('@Url.Action("ListaValeCompra", "ValeCompra")', {});

          },
          error: function (xhr) {
              waitingDialog.hide();
              toastr.error(xhr, msg_titulo);
          }
          })

     }

     }
</script> 