
<style>
    .boton-td {
        padding-top: 3px !important;
        padding-bottom: 3px !important;
    }
        .modal-body {
        max-height: calc(100vh - 212px);
        overflow-y: auto;
    }
</style>
<table id="example" class="table table-hover dataTable  table-striped table-responsive">
    <thead>
        <tr style="background-color:#3d566e; color:#ecf0f1">
            <th>Canal</th>
            <th>Tienda</th>
            <th>DNI</th>
            <th>Pri.Nom</th>
            <th>Seg.Nom</th>
            <th>Ape.Pat</th>
            <th>Ape.Mat</th>
            <th>Genero</th>
            <th>Correo</th>
            <th>Fec.Nac</th>
            <th>Telefono</th>
            <th>Ubi.</th>
            <th>Fec.Reg</th>
            <th>Fec.Bat</th>
            <th style="background-color:#f26363">Miembro</th>
            <th>Editar</th>
            <th>Cupones</th>            
        </tr>
    </thead>
    <tbody data-bind="foreach:"></tbody>
    <tfoot>
        <tr>
            <th>Canal</th>
            <th>Tienda</th>
            <th>DNI</th>
            <th>Pri.Nom</th>
            <th>Seg.Nom</th>
            <th>Ape.Pat</th>
            <th>Ape.Mat</th>
            <th>Genero</th>
            <th>Correo</th>
            <th>Fec.Nac</th>
            <th>Telefono</th>
            <th>Ubi.</th>
            <th>Fec.Reg</th>
            <th>Fec.Bat</th>
            <th>Miembro</th>
            <th>Editar</th>
            <th>Cupones</th>           
        </tr>
    </tfoot>
</table>
<div class="modal fade" id="modalListaProms" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <div class="row">
                    <div class="col-md-8">
                        <p style="font-size:medium" class="text-primary modal-title" id="myModalLabel"><strong class="text-danger" id="desc_proms"></strong></p>
                        <p style="font-size:medium" class="text-primary modal-title" id="myModalLabel"><b>Lista de Promociones: &nbsp;</b></p>
                    </div>
                </div>
            </div>
            <div style="font-size:small ;overflow-x: auto;" class="modal-body" id="listaDetProms" >

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" onclick="">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<script>
        $(document).ready(function () {
            $('.table').dataTable({
                "language": {
                    "url": "../Scripts/DataTables/Spanish.json"
                },
                "bServerSide": true,
                "bAutoWidth": false,
                "sAjaxSource": '@Url.Action("getListarCliBa", "BataClub")',
                "bdestroy": true,
                //"bFilter": false,
                "start": 0,
                //"bPaginate": false,
                "orderable": false,
                //"order": [0, "asc"],
                "columnDefs": [{
                    "targets": [ 2, 3,4,5,6,7,8,9,10,11,15],
                    "orderable": false
                }],
                "bDeferRender": true,
                "aoColumns": [
                       { "sName": "canal", "mData": "canal" },
                       { "sName": "tienda", "mData": "tienda" },
                       { "sName": "dni", "mData": "dni" },
                       { "sName": "primer_nombre", "mData": "primer_nombre" },
                       { "sName": "segundo_nombre", "mData": "segundo_nombre" },
                       { "sName": "apellido_pat", "mData": "apellido_pat" },
                       { "sName": "apellido_mat", "mData": "apellido_mat" },
                       { "sName": "genero", "mData": "genero" },
                       { "sName": "correo", "mData": "correo" },
                       { "sName": "fec_nac", "mData": "fec_nac", "sClass": "right", "type": "date-dd-mmm-yyyy" },
                       { "sName": "telefono", "mData": "telefono" },
                       { "sName": "ubicacion", "mData": "ubicacion" },
                       { "sName": "fec_registro", "mData": "fec_registro"},
                       { "sName": "miem_bataclub_fecha", "mData": "miem_bataclub_fecha", "sClass": "right", "type": "date-dd-mmm-yyyy" },
                       { "sName": "miem_bataclub", "mData": "miem_bataclub" },
                        {
                            "render": function (data, type, full) {
                                return '<button title="Editar" class="btn btn-success btn-sm editar" data-dni="' + full.dni + '" ' +
                                    ' data-nom1="' + full.primer_nombre + '"' +
                                    ' data-nom2="' + full.segundo_nombre + '"' +
                                    ' data-apep="' + full.apellido_pat + '"' +
                                    ' data-apem="' + full.apellido_mat + '"' +
                                    ' data-genero="' + full.genero + '"' +
                                    ' data-correo="' + full.correo + '"' +
                                    ' data-telefono="' + full.telefono + '"' +
                                    ' data-ubi="' + full.ubicacion + '"' +
                                    ' data-fnac="' + full.fec_nac + '"' +
                                    ' ><i class="glyphicon glyphicon-edit"></i></button>';
                            }, "sClass": "boton-td"
                        },
                       {
                           "render": function (data, type, full) {
                               return '<button title="Ver detalles" class="btn btn-info btn-sm detalles" data-dni="' + full.dni + '" data-des-prom="' + full.Descripcion + '"><i class="glyphicon glyphicon-tags"></i></button>';
                           }, "sClass": "boton-td"
                       },
                ]
            });

            $('.table').on('click', '.detalles', function (e) {
                waitingDialog.show('Espere un momento por favor');
                var dni = $(this).attr('data-dni');
                $.ajax({
                    type: "Post",
                    url: '@Url.Action("BATACLUB_CONSULTA_CLIENTES_PROMOCION", "BataClub")',
                    //contentType: "application/json; charset=utf-8",
                    data: { dni: dni },
                    //dataType: "json",
                    success: function (data) {
                        waitingDialog.hide();
                        if (data.estado == 1) {
                            if (data.proms.length == 0) {
                                swal("No hay promociones para este cliente.");
                            } else {
                                var table = '' +
                                    '<table id="" class="table table-hover table-condensed dt-lista-tdas table-striped table-responsive">\
                                    <thead>\
                                        <tr style="background-color:#3d566e; color:#ecf0f1">\
                                            <th>Promocion</th>\
                                            <th>Barra</th>\
                                            <th>Estado</th>\
                                            <th>Fecha Ini</th>\
                                            <th>Fecha Fin</th>\
                                            <th>Tienda</th>\
                                            <th>Doc</th>\
                                            <th>Ndoc</th>\
                                            <th>Fecha Doc</th>\
                                        </tr>\
                                    </thead>\
                                    <tbody data-bind="foreach:">';
                                for (var i = 0; i < data.proms.length; i++) {
                                    table += '<tr><td>' + data.proms[i].Promocion + '</td>\
                                                <td>' + data.proms[i].Barra + '</td>\
                                                <td>' + data.proms[i].Estado + '</td>\
                                                <td>' + data.proms[i].cup_fecha_ini + '</td>\
                                                <td>' + data.proms[i].cup_fecha_fin + '</td>\
                                                <td>' + data.proms[i].Tienda + '</td>\
                                                <td>' + data.proms[i].Doc + '</td>\
                                                <td>' + data.proms[i].Ndoc + '</td>\
                                                <td>' + data.proms[i].FecDoc + '</td>'
                                }
                                table += '</tbody>\
                                    <tfoot>\
                                        <tr>\
                                            <th>Promocion</th>\
                                            <th>Barra</th>\
                                            <th>Estado</th>\
                                            <th>Fecha Ini</th>\
                                            <th>Fecha Fin</th>\
                                            <th>Tienda</th>\
                                            <th>Doc</th>\
                                            <th>Ndoc</th>\
                                            <th>Fecha Doc</th>\
                                        </tr>\
                                    </tfoot>\
                                    </table>'

                                $("#listaDetProms").html(table);
                                $("#desc_proms").html(dni);
                                $(".dt-lista-tdas").DataTable({
                                    "language": {
                                        "url": "../Scripts/DataTables/Spanish.json"
                                    }
                                });
                                $("#modalListaProms").modal({ backdrop: 'static', keyboard: false });
                            }
                        } else {
                            swal({
                                title: "Error",
                                text: data.mensaje,
                                icon: "error",
                                dangerMode: true,
                            });
                        }
                    },
                    error: function (xhr) {
                        waitingDialog.hide();
                        toastr.error(xhr, 'Mensaje');
                    }
                });

            });
            /*  /._./  */
            $('.table').on('click', '.editar', function (e) {
               // waitingDialog.show('Espere un momento por favor');
                var dni = $(this).attr('data-dni');
                var nom1 = $(this).attr('data-nom1');
                var nom2 = $(this).attr('data-nom2');
                var apep = $(this).attr('data-apep');
                var apem = $(this).attr('data-apem');
                var gen = $(this).attr('data-genero');
                var correo = $(this).attr('data-correo');
                var telefono = $(this).attr('data-telefono');
                var ubi = $(this).attr('data-ubi');
                var fnac = $(this).attr('data-fnac');

                $("#Dni").val(dni);
                $("#femenino").prop("checked", (gen == "F" ?  true : false ));
                $("#masculino").prop("checked", (gen == "M" ? true : false));
                $("#Nombres1").val(nom1);
                $("#Nombres2").val(nom2);
                $("#ApellidoPaterno").val(apep);
                $("#ApellidoMaterno").val(apem);
                $("#CorreoElectronico").val(correo);
                $("#celular").val(telefono);
                //$("#FechaNacimiento").val(fnac);
                //$("#FechaNacimiento").datepicker("refresh");
                $('#FechaNacimiento').datepicker("setDate", fnac);

                //queryDate = '2009-11-01';

                //var parsedDate = $.datepicker.parseDate('dd/mm/yyyy', fnac);

                //$('#FechaNacimiento').datepicker('setDate', parsedDate);

                if (ubi.length == 6) {
                    valP = ubi.substring(2, 4);
                    valD = ubi.substring(4, 6);
                    $("#depto").val(ubi.substring(0, 2));                    
                    $("#depto").selectpicker('refresh');
                    SelectDep("1", "prov");
                }                
                $("#cabecera_editar").html(dni);
                $("#modalEditar").modal({ backdrop: 'static', keyboard: false });
            });
        });
    var valP = "01";
    var valD = "01";
    function SelectDep(action, afect) {
        var operacion = action;
        var iddep = $("#depto").val();
        var idpro = $("#prov").val();
        var select = afect;
        $("#" + select + "").html("");
        $("#" + select + "").selectpicker('refresh');
        if (operacion == 1) {
            $("#dist").html("");
            $("#dist").selectpicker('refresh');
        }
        $.ajax({
            type: "POST",
            url: '@Url.Action("get_otro_select", "BataClub")',
            data: { operacion: operacion, iddep: iddep, idpro: idpro },
            success: function (data) {
                var options = "";
                for (var i = 0; i < data.result.length; i++) {
                    options += "<option value='" + data.result[i].cbo_codigo + "'>" + data.result[i].cbo_descripcion + "</option>"
                }
                $("#" + select + "").html(options);
                $("#" + select + "").selectpicker({ title: 'Seleccione ' + (operacion == 1 ? "Provicia" : "Distrito") });
                //$("#" + select + "").selectpicker('val', "01");
                //$("#" + select + "").val('01');
                $("#" + select + "").selectpicker('refresh');
                $("#" + select + "").val(operacion == 1 ? (valP == null || valP == "" ? "01" : valP) : (valD == null || valD == "" ? "01" : valD));
                $("#" + select + "").selectpicker('refresh');
                if (operacion == "1") {
                    SelectDep("2", "dist" );
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                //waitingDialog.hide();
                var error = eval("(" + XMLHttpRequest.responseText + ")");
                swal(error.Message);
            }
        });
    }


</script>