
<div id="container" style="min-width: 310px;  margin: 0 auto; display:none"></div>

<div id="containerGrafica" style="min-width: 310px; height: 700px; margin: 0 auto;width: 950px;"></div>

























