

<table id="example1" class="table table-hover dataTable  table-striped table-responsive">
    <thead>
        <tr style="background-color:#3d566e; color:#ecf0f1">
            <th>Promoción</th>
            <th>Estado Promo.</th>
            <th>Fecha fin cupón</th>
            <th>Nombres</th>
            @*<th>Apellidos</th>*@
            <th>DNI</th>
            <th>Correo</th>
            <th>Cupón</th>
            <th>Tienda</th>
            @*<th>DNI (venta)</th>*@
            <th>Nombres (venta)</th>
            @*<th>Correo (venta)</th>
            <th>Teléf. (venta)</th>*@
            <th>Tickets</th>
            <th>Soles</th>
            @*<th>Grupo</th>*@
            <th>Desc (%)</th>
            <th>Fecha Doc.</th>
        </tr>
    </thead>
    <tbody data-bind="foreach:"></tbody>
    <tfoot>
        <tr>
            <th>Promoción</th>
            <th>Estado Promo.</th>
            <th>Fecha fin cupón</th>
            <th>Nombres</th>
            @*<th>Apellidos</th>*@
            <th>DNI</th>
            <th>Correo</th>
            <th>Cupón</th>
            <th>Tienda</th>
            @*<th>DNI (venta)</th>*@
            <th>Nombres (venta)</th>
            @*<th>Correo (venta)</th>
        <th>Teléf. (venta)</th>*@
            <th>Tickets</th>
            <th>Soles</th>
            @*<th>Grupo</th>*@
            <th>Desc (%)</th>
            <th>Fecha Doc.</th>
        </tr>
    </tfoot>
</table>

<script>
    $('#example1').dataTable({
            "language": {
                "url": "../Scripts/DataTables/Spanish.json"
            },
            "bProcessing": false, // se agrego para probar
            "bServerSide": true,
            "bAutoWidth": false,
            "sAjaxSource": '@Url.Action("getTablePromoAjax", "BataClub")',
            "fnServerParams": function (aoData) {
                //aoData.push({ "name": "lblConsumidos", "value": $.trim($('#lblConsumidos')[0].textContent).toString() });
                //aoData.push({ "name": "lblDisponibles", "value": $.trim($('#lblDisponibles')[0].textContent).toString() });
                //aoData.push({ "name": "lblCaducados", "value": $.trim($('#lblCaducados')[0].textContent).toString() });
             //   console.log("buscó");
             //   console.log(aoData);
              //  $('#lblConsumidos')[0].textContent.toString() = "Consumidos:";
                //aoData.push({ "name": "lblDisponibles", "value": $.trim($('#lblDisponibles').val()) });
                //aoData.push({ "name": "lblCaducados", "value": $.trim($('#lblCaducados').val()) });
            },

            "fnServerData": function ( sSource, aoData, fnCallback ) {
                $.getJSON( sSource, aoData, function (json) { 
                    /* Do whatever additional processing you want on the callback, then tell DataTables */
                  //  console.log("entró a fnServerData");
                    //console.log(sSource);
                    //console.log(aoData);
                    //console.log(fnCallback);
                    //debugger;
                    console.log(json.variable1);
                    $('#lblConsumidos')[0].textContent = "Consumidos: " + json.variable1;
                    $('#lblDisponibles')[0].textContent = "Disponibles: " + json.variable2;
                    $('#lblCaducados')[0].textContent = "Caducados: " + json.variable3;
                 //   console.log(json);
                    fnCallback(json)
                } );
            },

            "bdestroy": true,
            "start": 0,
            "order": [0, "asc"],
            "bDeferRender": true,
            "aoColumns": [
                    { "sName": "prom_des", "mData": "prom_des" },
                    { "sName": "est_des", "mData": "est_des" },
                    { "sName": "cup_fecha_fin", "mData": "cup_fecha_fin" },
                    { "sName": "Nombres", "mData": "Nombres" },
                    //{ "sName": "Apellidos", "mData": "Apellidos" },
                    { "sName": "dni", "mData": "dni" },
                    { "sName": "correo", "mData": "correo" },
                    { "sName": "cupon", "mData": "cupon" },
                    { "sName": "tienda", "mData": "tienda" },
                    //{ "sName": "dni_venta", "mData": "dni_venta" },
                    { "sName": "nombres_venta", "mData": "nombres_venta" },
                    //{ "sName": "correo_venta", "mData": "correo_venta" },
                    //{ "sName": "telefono_venta", "mData": "telefono_venta" },
                    { "sName": "tickets", "mData": "tickets" },
                    { "sName": "soles", "mData": "soles" },
                    //{ "sName": "grupo", "mData": "grupo" },
                    { "sName": "porc_desc", "mData": "porc_desc" },
                    { "sName": "fec_doc", "mData": "fec_doc" }
            ],
            dom: 'Bfrtip',
            buttons: [
            {
                extend: 'excelHtml5',
                title: 'Bataclub_xls'
            },
            {
                extend: 'csvHtml5',
                title: 'BataClub_csv'
            },
            {
                extend: 'pdfHtml5',
                title: 'BataClub_pdf'
            },
            'copyHtml5',
            ]
        });
</script>

