@using CapaEntidad.BataClub
@model IEnumerable<Ent_BataClub_Lista_Registro>
@{
    ViewBag.Title = "Lista de Registros BataClub";
    AjaxOptions options = new AjaxOptions
    {
        HttpMethod = "GET",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "lista",
        OnComplete = "waitingDialog.hide();",
        OnBegin = "waitingDialog.show('Espere un momento por favor');",
        OnFailure = "waitingDialog.hide();"
    };
}
<link href="~/ContentSelect/bootstrap-select.css" rel="stylesheet" />
<link href="@Url.Content("~/Content/bootstrap-select.min.css")" rel="stylesheet" type="text/css" />  
<p class="text-danger">Consulta de Clientes Registros, por rango de fecha de registro,dni ó Email</p>
<div class="box box-body box-primary">
    @using (Ajax.BeginForm("_Lista_ClientesBataClub", options))
    {
        <div class="row">

            <form id="form1">               
                <div class="col-sm-2">
                    <label for="segape">Fecha Inicio</label>
                    <div class="form-group">
                        <div class="input-group">
                            <div id="datepickerini" class="input-group date" data-date-format="dd-mm-yyyy">
                                <input id="fechaIni" name="fechaIni" value="" class="form-control custom-input" placeholder="dd-mm-yyyy" type="text" oninvalid="InvalidMsg(this,'Ingrese la fecha inicial')" required="required" />
                                <span class="input-group-addon  bg-white"><img src="~/Content/images/wall-calendar-with-lines.svg" height="20" width="20"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <label for="fecnac">Fecha Final</label>
                    <div class="form-group">
                        <div class="input-group">
                            <div id="datepickerfin" class="input-group date" data-date-format="dd-mm-yyyy">
                                <input id="fechaFin" name="fechaFin" value="" class="form-control custom-input" placeholder="dd-mm-yyyy" type="text" oninvalid="InvalidMsg(this,'Ingrese la fecha final')" required="required" />
                                <span class="input-group-addon  bg-white"><img src="~/Content/images/wall-calendar-with-lines.svg" height="20" width="20"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <label for="segape">D.N.I</label>
                    <div class="form-group">
                        <div class="input-group">
                            <div id="numdoc" class="input-group">
                                <input id="dni" name="dni" value="" data-toggle="tooltip" maxlength="8" title="ingrese el dni. Ejm: 49122113" class="form-control custom-input" type="text"  minlength="8" placeholder="Ejm.: 49122113" />
                                @*<span class="input-group-addon  bg-white"><img src="~/Content/images/wall-calendar-with-lines.svg" height="20" width="20"></span>*@
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <label for="segape">Email</label>
                    <div class="form-group">
                        <div class="input-group">
                            <div id="email" class="input-group">
                                <input id="email" name="email" value="" class="form-control custom-input" type="text" />
                                @*<span class="input-group-addon  bg-white"><img src="~/Content/images/wall-calendar-with-lines.svg" height="20" width="20"></span>*@
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-1" style="margin-top:24px">
                    
                    <button type="submit" title="Consultar" class="btn btn-primary">
                        <i class="fa fa-search"></i>&nbsp;&nbsp;Buscar...
                    </button>                    
                </div>
            </form>

        </div>       
    }

    <div class="box-body" id="lista" style="overflow-x: auto;">
        @{Html.RenderPartial("_Lista_ClientesBataClub", Model);}
    </div>
    <br />
</div>
<div class="modal fade" id="modalEditar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="row">
                    <div class="col-md-8">
                        <p style="font-size:medium" class="text-primary modal-title" id="myModalLabel"><strong class="text-danger" id="cabecera_editar"></strong></p>
                        <p style="font-size:medium" class="text-primary modal-title" id="myModalLabel"><b>Modificar cliente: &nbsp;</b></p>
                    </div>
                </div>
            </div>
            <div style="font-size:small" class="modal-body" id="listaDetProms">
                <form id="FormRegistro" name="FormRegistro">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group form-group-sm">
                                <label for="exampleFormControlInput1" class="label-form-custom">DNI</label>
                                <input type="text" class="form-control" value="" name="Dni" readonly id="Dni" placeholder="Coloca tu número de DNI...">
                            </div>
                        </div>
                        <div class="col-md-6" style="margin-top:25px">
                            <label class="radio-inline">
                                <input type="radio" id="femenino" value="F" name="Genero" class="custom-control-input">Femenino
                            </label>
                            <label class="radio-inline">
                                <input type="radio" id="masculino" value="M" name="Genero" class="custom-control-input">Masculino
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group form-group-sm">
                                <label for="exampleFormControlInput1" class="label-form-custom">Primer Nombre</label>
                                <input type="text" class="form-control" value="" id="Nombres1" name="PrimerNombre" placeholder="Coloca tus nombres...">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group form-group-sm">
                                <label for="exampleFormControlInput1" class="label-form-custom">Segundo Nombre</label>
                                <input type="text" class="form-control" value="" id="Nombres2" name="SegundoNombre" placeholder="Coloca tus nombres...">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group form-group-sm">
                                <label for="exampleFormControlInput1" class="label-form-custom">Apellido Paterno</label>
                                <input type="text" class="form-control" value="" id="ApellidoPaterno" name="ApellidoPaterno" placeholder="Coloca tu apellido paterno...">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group form-group-sm">
                                <label for="exampleFormControlInput1" class="label-form-custom">Apellido Materno</label>
                                <input type="text" class="form-control" value="" id="ApellidoMaterno" name="ApellidoMaterno" placeholder="Coloca tus apellido materno...">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group form-group-sm">
                                <label for="exampleFormControlInput1" class="label-form-custom">Correo electrónico</label>
                                <input type="email" class="form-control" value="" id="CorreoElectronico" name="CorreoElectronico" placeholder="Coloca tu direccion de correo electronico...">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group form-group-sm">
                                <label for="exampleFormControlInput1" class="label-form-custom">Celular</label>
                                <input type="text" class="form-control" value="" name="Celular" id="celular" placeholder="Coloca tu numero de celular...">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group form-group-sm">
                                <label for="exampleFormControlInput1" class="label-form-custom">Fecha de nacimiento</label>
                                <input type="text" class="form-control" accept="" name="FechaNacimiento" id="FechaNacimiento" placeholder="Coloca tu fecha de nacimiento...">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group form-group-sm">
                                <label for="exampleFormControlInput1" class="label-form-custom">Departamento</label>
                                @Html.DropDownList("Departamento", new SelectList(ViewBag.Depto, "cbo_codigo", "cbo_descripcion", 0), new { @title = "Seleccione Departamento", @class = "select-dep form-control selectpicker", @id = "depto", @name = "Departamento", @data_live_search = "true", @data_actions_box = "true", @data_action = "1", @data_size = "7", @data_afect = "prov", @onchange = "SelectDep('1','prov');" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group form-group-sm">
                                <label for="exampleFormControlInput1" class="label-form-custom">Provincia</label>
                                <select class="form-control selectpicker input-lg-reg select-dep" id="prov" data-size="7" name="Provincia" title="Seleccione"
                                        data-live-search="true" data-actions-box="true" data-action="2" data-afect="dist" onchange="SelectDep('2', 'dist');"></select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group form-group-sm">
                                <label for="exampleFormControlInput1" class="label-form-custom">Distrito</label>
                                <select class="form-control selectpicker" data-size="7" id="dist" name="Distrito" title="Seleccione"
                                        data-live-search="true" data-actions-box="true" data_action="1"></select>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer" id="footer_modal">
                <button type="button" data-vista="principal" data-operacion="registrar" class="btn btn-danger" id="actualizar">ACTUALIZAR DATOS</button>
                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="glyphicon glyphicon-remove"></i>&nbsp;&nbsp;&nbsp;Cancelar</button>                
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/bootstrap-select.min.js"></script>
<script src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("body").toggleClass('sidebar-collapse');
        var date = new Date();
        var firstDay = new Date(date.getFullYear(), date.getMonth(), 1);
        $('#fechaIni').datepicker({
            format: "dd-mm-yyyy",
            autoclose: true,
            maxDate: new Date(),
        }).datepicker("setDate", firstDay);
        $('#fechaFin').datepicker({
            format: "dd-mm-yyyy",
            autoclose: true,
            maxDate: new Date(),
        }).datepicker("setDate", "0");
        $('#FechaNacimiento').datepicker({
            format: "dd/mm/yyyy",
            autoclose: true,
            maxDate: new Date(),
        });


        $("#actualizar").click(function () {
            swal({
                title: "Modificar informaciÓn de cliente.",
                text: "Desea modificar los datos del cliente?",
                icon: "info",
                buttons: { cancel: "No", yes: "Si" },
            }).then((value) => {
                if (value == "yes") {
                    waitingDialog.show("Espere un momento por favor...");
                    var dataForm = $('#FormRegistro');
                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("ModificarCliente", "BataClub")',
                        data: dataForm.serialize(),
                        success: function (data) {
                            waitingDialog.hide();
                            if (data.estado == true) {
                                swal({
                                    title: "Exito",
                                    text: data.mensaje,
                                    icon: "success"
                                }).then(() => {
                                    //window.location.href = "@*@Url.Action("TabletPrincipal", "BataClub")*@"
                                    $('#modalEditar').modal('hide');
                                    $("#form0").submit();
                                });
                            } else {
                                swal({
                                    title: "Error",
                                    text: data.mensaje,
                                    icon: "error",
                                    dangerMode: true,
                                });
                            }
                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {
                            hidePleaseWait();
                            var error = eval("(" + XMLHttpRequest.responseText + ")");
                            swal(error.Message);
                        }
                    });
                }
            });
        });
    });
    
</script>