
<table id="TableDeta" class="table table-hover dataTable  table-striped table-responsive table-bordered" style="border: #3d566e; border-style: solid; border-width: thick;">
    <thead>
        <tr style="background-color:#3d566e; color:#ecf0f1">
            <th>PDF</th>
            <th>Estado</th>
        </tr>
    </thead>
    <tbody data-bind="foreach:"></tbody>
    @*<tfoot>
        <tr>
            <th>PDF</th>
            <th>Estado</th>
        </tr>
    </tfoot>*@
</table>

