@*<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.5.1/css/buttons.dataTables.min.css" />*@
<style type="text/css">
    .dt-buttons {
        display: none;
    }

    #TableDeta_filter {
        display: none;
    }

     #TableDeta_info {
        display: none;
    }    
     #TableDeta_paginate {
        display: none;
    }
</style>

<table id="example" class="table table-hover dataTable table-striped table-responsive">
    <thead>
        <tr style="background-color:#3d566e; color:#ecf0f1">
            <th>Tienda</th>
            <th>Fecha</th>
            <th>Tipo de documento</th>
            <th>Serie</th>
            <th>Número</th>
            <th>Total</th>
            <th>Estado</th>
            <th>RUC</th>
            @*<th>Login ws</th>
            <th>Clave ws</th>
            <th>Tipo Doc</th>*@
            <th>Folio</th>
            <th>Detalle</th>
        </tr>
    </thead>
    <tbody data-bind="foreach:"></tbody>
    <tfoot>
        <tr>
            <th>Tienda</th>
            <th>Fecha</th>
            <th>Tipo de documento</th>
            <th>Serie</th>
            <th>Número</th>
            <th>Total</th>
            <th>Estado</th>
            <th>RUC</th>
            @*<th>Login ws</th>
            <th>Clave ws</th>
            <th>Tipo Doc</th>*@
            <th>Folio</th>
            <th>Detalle</th>
        </tr>
    </tfoot>
</table>


<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document" style="padding-top: 150px;">
        <div id="myModalContent1" class="modal-content" style="height:190px">
            <div style="background-color:#607d8b; color:white;" class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h5 class="modal-title" id="myModalLabel" style="font: icon; font-weight: 600;"></h5>
            </div>
            <div id="modalBody1" class="modal-body">

            </div>
        </div>
    </div>
</div>



<script>

    $(document).ready(function () {
        $('.table').dataTable({
            "language": {
                "url": "../Scripts/DataTables/Spanish.json"
            },
            "bProcessing": true, // se agrego para probar
            "bServerSide": true,
            "bAutoWidth": false,
            "sAjaxSource": '@Url.Action("getDetAjax","Contabilidad")',
            "fnServerParams": function (aoData) {
                //aoData.push({ "name": "dwtda", "value": $.trim($('#dwtda').val()) });
                //aoData.push({ "name": "fec_ini", "value": $.trim($('#fec_ini').val()) });
                //aoData.push({ "name": "fec_fin", "value": $.trim($('#fec_fin').val()) });
            },
            "bdestroy": true,
            "start": 0,
            "order": [0, "asc"],
            "bDeferRender": true,
            "aoColumns": [
                    { "sName": "tienda", "mData": "tienda" },
                    { "sName": "fecha", "mData": "fecha" },
                    { "sName": "tipo_doc", "mData": "tipo_doc" },
                    { "sName": "serie", "mData": "serie" },
                    { "sName": "numero", "mData": "numero" },
                    { "sName": "total", "mData": "total" },
                    //{ "sName": "estado", "mData": "estado" }
                    { 
                        //Label del estado de los documentos ->estado
                        "render": function (data, type, full) {
                            if (full.estado == 'FINALIZADO') {
                                return '<div style="display: block;background-color: #41b341;" class="badge badge-pill badge-success disabled"><a class="badge badge-success disabled" style=" background-color: #41b341;"  >FINALIZADO</a></div>';
                            } else {
                                return '<div style="display: block;background-color:  #d9534f;" class="badge badge-pill badge-danger disabled"><a class="badge badge-danger disabled" style=" background-color: #d9534f;"  >CANCELADO</a></div>';
                            }
                        }
                    },
                    { "sName": "ruc", "mData": "ruc" },
                    //{ "sName": "login_ws", "mData": "login_ws" },
                    //{ "sName": "clave_ws", "mData": "clave_ws" },
                    //{ "sName": "tipodoc", "mData": "tipodoc" },
                    { "sName": "folio", "mData": "folio" },


                    {      //Botón de detalle - PopUp
                        "render": function (data, type, full) {
                            var envio = "'" + full.ruc + "','" + full.login_ws + "','" + full.clave_ws + "','" + full.tipodoc + "','" + full.numero + "','" + full.folio + "'"
                            return '<div> <a title="Ver Detalle"  onclick="PopupDetalle(' + envio + ')"  data-toggle="modal" data-target="#myModal1"  target="_blank" class="btn btn-primary btn-sm"> <span class="glyphicon glyphicon-th-list"></span></a></div>';
                        }
                    }


            ],
            dom: 'Bfrtip',
            buttons: [
            {
                extend: 'excelHtml5',
                title: 'Bataclub_xls'
            },
            {
                extend: 'csvHtml5',
                title: 'BataClub_csv'
            },
            {
                extend: 'pdfHtml5',
                title: 'BataClub_pdf'
            },
            'copyHtml5',
            ]
        });

    });
</script>
<script>
    function PopupDetalle(ruc, login_ws, clave_ws, tipodoc, numero, folio) {
        var ControllerUrl = "@Url.Action("_popUpDetalle", "Contabilidad")";
        $.ajax({
            type: "GET",
            url: ControllerUrl,
            contentType: "application/json; charset=utf-8",
            data: { ruc: ruc, login_ws: login_ws, clave_ws: clave_ws, tipodoc: tipodoc, folio: folio },
            datatype: "json",
            cache: true,
            success: function (data) {
                var options = { "backdrop": "static", keyboard: true };
                var descTienda = 'Número: ' + numero

                $('#myModalLabel').html(descTienda);
                $('#modalBody1').html(data);
                $('#myModal1').modal(options);

                $('#TableDeta').dataTable({
                    "language": {
                        "url": "../Scripts/DataTables/Spanish.json"
                    },
                    "bProcessing": true,
                    "bServerSide": true,
                    "bAutoWidth": false,
                    "sAjaxSource": '@Url.Action("getDetalleAjax", "Contabilidad")',
                    "fnServerParams": function (aoData) {
                    },
                    "bdestroy": true,
                    "start": 0,
                    "oSearch": { "sSearch": "" },
                    //"order": [0, "asc"],
                    "bDeferRender": true,
                    "aoColumns": [
                            { "sName": "PDF", "mData": "PDF" },
                            { "sName": "ESTADO", "mData": "ESTADO" }
                    ],
                    dom: 'Bfrtip',
                    buttons: [
                    {
                        extend: 'excelHtml5',
                        title: 'Bataclub_xls'
                    },
                    {
                        extend: 'csvHtml5',
                        title: 'BataClub_csv'
                    },
                    {
                        extend: 'pdfHtml5',
                        title: 'BataClub_pdf'
                    },
                    'copyHtml5',
                    ]
                });
                $('#myModal1').modal('show');
            },
            error: function (xhr) {
                toastr.error(xhr, 'Mensaje');
            }
        });
    }
</script>