

@*<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div id="myModalContent" class="modal-content">*@
            @*<div style="background-color:#c0392b; color:white;" class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel"></h4>
            </div>
            <div class="modal-body">*@
                <table id="TableDeta" class="table table-hover dataTable  table-striped table-responsive">
                    <thead>
                        <tr style="background-color:#3d566e; color:#ecf0f1">
                            <th>Tipo Doc.</th>
                            <th>Serie</th>
                            <th>Nro Fact.</th>
                            <th>Total</th>
                            <th>Estado</th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach:"></tbody>
                    <tfoot>
                        <tr>
                            <th>Tipo Doc.</th>
                            <th>Serie</th>
                            <th>Nro Fact.</th>
                            <th>Total</th>
                            <th>Estado</th>
                        </tr>
                    </tfoot>
                </table>
            @*</div>*@
        @*</div>
    </div>
</div>*@
