@{ 
    ViewBag.Title = "Prueba conexion ORACLE";    
}
<p class="text-danger">Prueba de conexion a ORACLE desde BATAWEB</p>
<div class="box box-body box-primary">
    <p class="text-red text-bold">Mensaje:&nbsp;&nbsp;@ViewBag.Mensaje</p>
    <p class="text-blue">Tran Seq:&nbsp;&nbsp;@ViewBag.TranSeq</p>
    <p class="text-blue">Total:&nbsp;&nbsp;@ViewBag.Total</p>
</div>
