@using CapaEntidad.Soporte
@model IEnumerable<Ent_Ticket_Retorno>
@{
    ViewBag.Title = "Tickets de Retorno";
    AjaxOptions options = new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "data_tr",
        OnComplete = "waitingDialog.hide();",
        OnBegin = "waitingDialog.show('Este proceso puede tardar unos minutos');",
        OnFailure = "waitingDialog.hide();"
    };
}

<link href="@Url.Content("~/Content/bootstrap-select.min.css")" rel="stylesheet" type="text/css" />
<style>
    .boton-td {
        padding-top: 3px !important;
        padding-bottom: 3px !important;
    }
</style>
<p class="text-danger">Consulta de tickets de retorno y envío de reimpresión de tickets de retorno a tienda.</p>
<div class="box box-body box-primary">
    @using (Ajax.BeginForm("_DataCupones", options))
    {
        <div class="row">

            <div class="col-md-3">
                <div class="form-group">
                    <label for="dwtda">Tienda Gen.:</label>
                    @Html.DropDownList("dwtda", new SelectList(ViewBag.tienda, "cbo_codigo", "cbo_descripcion", null), new { @class = "form-control selectpicker", @data_live_search = "true", @id = "dwtda", @name = "dwtda", @data_actions_box = "true" })
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="dwtda">Cupón ó Nro. de comprobante:</label>
                    <input type="text" class="form-control" name="cupon" id="cupon" />
                </div>
            </div>
            <div class="col-md-5" style="padding-top:24px">
                <button type="submit" class="btn btn-primary" data-ope="reimpresion"><i class="fa fa-search"></i>&nbsp;Buscar...</button>
                @* <button class="btn btn-default" data-ope="consultar">Consultar Cupon</button>*@
            </div>


        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label for="fec">Fecha Inicio</label>
                    <div class="input-group">
                        <input type="text" name="fechaIni" id="fechaIni" class="form-control" placeholder="dd-mm-aaaa" style="height: 33.979166px;">
                        <span class="input-group-btn">
                            <button class="btn btn-default" id="btdpI" type="button"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </div><!-- /input-group -->
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="fec">Fecha Fin</label>
                    <div class="input-group">
                        <input type="text" name="fechaFin" id="fechaFin" class="form-control" placeholder="dd-mm-aaaa" style="height: 33.979166px;">
                        <span class="input-group-btn">
                            <button class="btn btn-default" id="btdpF" type="button"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </div><!-- /input-group -->
                </div>
            </div>
        </div>
    }
    <div class="row">
        <div class="col-md-12">
            <div id="data_tr">
                @{Html.RenderPartial("_DataCupones", Model);}
            </div>
        </div>
    </div>
</div>
<div id="infoTr">

</div>

<script src="~/Scripts/bootstrap-select.min.js"></script>
<script src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>
    $(document).ready(function () {
        var date = new Date();

        $("#btdpI").click(function () {
            $("#fechaIni").datepicker('show')
        });
        $('#fechaIni').datepicker({
            format: "dd-mm-yyyy",
            autoclose: true,
            maxDate: new Date(),
        }).datepicker("setDate", new Date());
        $("#btdpF").click(function () {
            $("#fechaFin").datepicker('show')
        });
        $('#fechaFin').datepicker({
            format: "dd-mm-yyyy",
            autoclose: true,
            maxDate: new Date(),
        }).datepicker("setDate", new Date());
    });
</script>