@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_Layout_NPS.cshtml";
}
<style>
</style>
<p class="text-danger"></p>
<div class="box box-body">
    <br>
    <br>
    <br>
    <div class="row">
        <div class="col-md-12" style="text-align: center;">
            <div class="thumb"><i class="fa fa-thumbs-o-up" style="font-size: 16em; color:#dd4b39"></i></div>
        </div>
        <div class="col-md-12" style="text-align: center;">
            <h1>Gracias por completar esta encuesta</h1>
            <h1>¡Tu calificación nos ayudara a seguir mejorando!</h1>
        </div>
    </div>
    <br>
    <br>
    <br>
</div>
@section scripts{
    <script>
    </script>
}